* {
    box-sizing: border-box;
    font-family: 'Roboto',
    sans-serif;
}

*:focus {
    outline: none;
}

ul,
ol {
    padding: 0;
}
li {
    list-style-type: none;
}

a,
a:hover {
    color: #000;
    text-decoration: none;
}

/*Container del body*/
a,
a:hover {
    color: #3D3D3D;
    font-weight: 300;
    font-size: 14px;
}
/*HEADER*/
/* Logo */
#logo {
    width: 65px;
    position: relative;
    bottom: 19px;
    right: 20px;
}

.logo-container {
    width: 50%;
    display: flex;
    justify-content: start;
}


.row {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;
}

.header-container {
    display: flex;
    margin-top: 20px;
}

/*--- Barra del header ---*/
#Home {
    margin-right: 25px;
}


a:hover {
    color: #dcc8ae;
}

/* --- Iconos ---*/
/* Cada icono en específico (ul) */
.header-icons {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.product-detail-description{
    color: rgb(170, 170, 170);
    font-weight: 300;
}

.product-detail-category {
    font-weight: 300;
}

.precioDetalle{
    font-weight: 300;
}

.header-icons ul {
    display: flex;

}
.icons {
    width: 20px;
    margin-right: 8px;
    height: 20px;
    color: #3D3D3D;
}


.favorite {
    background-color: transparent;
    border: none;
    color:  #999;
}

/*Icono perfil*/
#cerrarSesion {
    border: none;
    color: #3D3D3D;
    font-weight: 500;
    background-color: transparent;
}

.uk-dropdown {
    z-index: 1;
    box-sizing: border-box;
    min-width: 83px;
    padding: 8px;
    color: #3D3D3D;
    background: rgba(255, 255, 255, .15);
}

svg {
    max-width: none;
}

/*hasta aca*/

/*END OF HEADER*/


/*--- BODY ---*/

body{
    font-family: 'Roboto'
}

/*Caja del producto*/
.uk-width-1-2\@m{
    margin-left: 27%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.uk-button-default {
    background-color: #dcc8ae;
    color: white;
    border-radius: 50px;
    border: transparent;
    text-align: center;
}

/*Select*/
.cantidad {
    width: 15%;
    margin: 0 auto;
}

.boton-seleccionar {
    background-color: white;
    border: 2px #dcc8ae solid;
    color: #3D3D3D;
    border-radius: 50px;
    font-family: none;
    margin-left: 10%;
    font-size: 12px;
}

.uk-button-default:hover {
    background-color: #bdac95;
    color: white;
}

.uk-margin-remove-top:hover {
    color: #dcc8ae;
}
.precio {
    line-height: 0;
    width: 250px;
    font-size: 37px;
    position: absolute;
    left: 35px;

}


.uk-card-footer {
    padding: 50px 30px;
}


.uk-card-footer {
    padding: 50px 30px;
}


/*Comentarios*/
.uk-comment{
    margin-left: 27%;
    margin-bottom: 5%;
}
 
.uk-heading-divider{
    display: flex;
    justify-content: center;
}
.uk-h1, h1{
    font-size: 17px;
    font-weight: bold;
}

/*--- Naranja deco ---*/
img.honey{
    width: 23%;
    position: absolute;
    right: 81%;
    top: 88%;
    opacity: 72%;
}

img.soup{
    width: 24%;
    position: absolute;
    right: 0%;
    top: 40%;
    opacity: 83%;
    z-index: -1;
}

a:hover {
    color: #dcc8ae;
}

/*--- END OF BODY ---*/
/*FOOTER*/
/*Main del footer*/
footer {
    position: unset;
    bottom: 0;
    width: 100%;
}

.list-main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
}

/*Iconos de redes sociales*/
.list-icons-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.icon-twitter {
    width: 25px;
    height: 25px;
    padding: 5px;
}

.icon-instagram {
    width: 25px;
    height: 25px;
    padding: 5px;
}

.icon-facebook {
    width: 25px;
    height: 25px;
    padding: 5px;
}

/*END OF FOOTER*/
@media (max-width: 480px) {

    .logo {
        width: 12%;
        position: absolute;
        left: 5%;
        top: 2%;
    }

    .header-logo {
        width: 110%;
        position: absolute;
        left: 0;
    }

    .header-barra {
        text-align: center;
        position: absolute;
        top: 13%;
        z-index: 1;
        width: 87%;
    }

    .header-home-barra {

        position: absolute;
        right: 120%;
        top: 0px;
    }

    .header-barra-container {
        position: relative;
    }

    .texto-index {
        position: absolute;
        top: 42%;
        width: 69%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header-icons ul {
        top: 20px;
        position: absolute;
        right: 35px;
    }

    #cerrarSesion {
        width: 20px;
        height: 20px;
        top: 4px;
    }


    .welcome {
        text-align: center;
        position: absolute;
        bottom: 28%;
        left: 20%;
    }
    .uk-width-1-2\@m {
    margin-left: 0;
    margin-top: 20%;

}
.uk-comment {
    margin-left: 15px;
    margin-bottom: 15px;
}

.precio {
    font-size: 30px;
}


footer {
        bottom: 0;
    }
}


/*DETALLE DE PRODUCTO*/

#titulo {
    color: #707070;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #707070;
    padding: 7px;
    font-size: 35px;
    /* margin-bottom: 22px; */
    font-weight: 200;
}

#tituloContainer {
    width: 50%;
    margin: 0px auto;
    margin-top: 2%;
}

h3 {
    font-weight: 300;
}

.uk-width-1-2\@m {
    /* margin-left: 27%; */
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 1%;
}

.precioDetalle {
    line-height: 0;
    font-size: 22px;
    font-weight: 300;
}

.uk-button-detail {
    margin: 10px 0px;
}

.buttonsContainer {
    margin-top: 15px;
    padding: 25px;
}

#editar{
    left: 25%;
}

#editar a  {
    color: white;
    font-weight: 400;
}

#eliminar {
    right: 25%;
    font-weight: 400;
}

#imgDetail {
    margin-top: 12px;
    padding: 10px;
}

#quantity{
    border: 2px solid #dcc8ae;
    border-radius: 20px;
    text-align: center;
    padding: 3px;
}

@media (max-width: 480px) {

    #titulo {
        font-size: 28px;
    }

    img.soup {
        display: none;
    }
    img.honey {
        display: none;
    }

    button {
        margin: 0 auto
    }

    #editar {
        left: 10%;
    }

    #eliminar { 
        right: 10%;
    }

}