<!-- PARTIAL FOOTER -->
<footer>
<div class="all-footer">
    <div class="footer-icons">
            <ul class="list-icons-container">
                
                <li><a href="https://twitter.com/"><img src="/img/twitter.png" alt="" class="icon-twitter"></a></li>
                
                <li><a href="https://www.instagram.com/"><img src="/img/instagram.png" alt="" class="icon-instagram"></a></li>

                <li><a href="https://www.facebook.com/"><img src="/img/facebook.png" alt="" class="icon-facebook"></a></li>

            </ul>
    </div> 
    <div class="main-footer">
            <ul class="list-main-container">
                <li style="margin: 0 1%;"><a href="/home/contact">CONTACTO </a></li>|
               
                <li style="margin: 0 1%;"><a href="/home/cookies">COOKIES </a></li> |
                <li style="margin: 0 1%;"><a href="/home/shipping">POLÍTICA DE ENVÍO </a></li>
                |
                <li style="margin: 0 1%;"><a href="/home/privacy">POLÍTICA DE PRIVACIDAD</a></li>
            </ul>
    </div>
</div>
<!-- PARTIAL JAVASCRIPT -->
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
<!-- /PARTIAL JAVASCRIPT -->
</footer>
<!-- END OF PARTIAL FOOTER -->