<!DOCTYPE html>
<html lang="en">

<!-- PARTIAL HEAD -->
<%- include('./partials/head', {title: 'Home', css: 'homeStyles.css'})%>

<!-- END OF PARTIAL HEAD -->

<body>
<div class="body-container">
<!-- PARTIAL HEADER -->
<%- include('./partials/header')%>
<!-- /PARTIAL HEADER -->

    <!--BODY HOME -->

    <!-- Carrousel Home 1-->
<% if (locals.user) {  %>
<h1 class="title-of-home"> Hola <%= locals.user.name %>!</h1>
    <% } else {  %>
        <h1 class="title-of-home">COMO EN CASA</h1> 

    <% } %>
    
    <div id="carrusel" class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

        <ul class="uk-slider-items uk-grid">
            
            <li>
                <img src="/img/pastabella.jpg" alt="">
            </li>
            <li>
                    <img src="/img/arandanospro.jpg" alt="">
            </li>
            <li>
                    <img src="/img/salmonu.jpg" alt="">
            </li>
            <li>
                    <img src="/img/bowl.jpg" alt="">
            </li>
            <li>
                <img src="/img/toastdefinition.jpg" alt="">
        </li>
        </ul>
    
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    
    </div>

    <!-- Navegacion de categorias -->

    
     <nav class="nav-categorias">
            <ul class="cuatro-circulos">
                <li><a href="/category/1"><img src="" alt="" class="circulo-categ">DESAYUNO</a></li>
        
                <li><a href="/category/2"><img src="" alt="" class="circulo-categ">ALMUERZO</a></li>
        
                <li><a href="/category/3"><img src="" alt="" class="circulo-categ">MERIENDA</a></li>
        
                <li><a href="/category/4"><img src="" alt="" class="circulo-categ">CENA</a></li>
            </ul>
        </nav>


    <div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-image: url('/site/public/img/TOSTADO.jpg');">
        <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
            <h1 id="texto-banner1" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;">CC</h1>
            <p id="texto-banner2" uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.5;">"Queremos que comas como en casa, al mejor precio y la comida más rica"</p>
        </div>
    </div>
   
 <!-- Naranja decoración -->
 <img src="/img/foodie.jpg" alt="" class="foodie1">
 <img src="/img/foodie.jpg" alt="" class="foodie2">
 <img src="/img/fondogris1.jpg" alt="" class="gris"> 



    <!-- END INDEX BODY -->

<!-- PARTIAL FOOTER -->
<%- include('./partials/footer')%>
<!-- END OF PARTIAL FOOTER -->

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
</body>

</html>