<!-- POLITICA PRIVACIDAD -->

<!DOCTYPE html>
<html lang="en">

<!-- PARTIAL HEAD -->
<%- include('./partials/head', {title: 'Privacidad', css: 'footerPolitics.css'})%>

<!-- END OF PARTIAL HEAD -->

<body>
    <div class="body-container">
        <!-- PARTIAL HEADER -->
        <%- include('./partials/header')%>
        <!-- /PARTIAL HEADER -->


        <!-- POLITICA de PRIVACIDAD BODY -->

        <article class="uk-article">
            <hr>
            <h1 style="text-align: center;" class="uk-heading-bullet">Politica de privacidad</h1>
            <hr>
            <div style="width: 80%; margin: 0 auto;">
                <p class="uk-article-meta">La seguridad de los datos personales es una prioridad para comoencasa. Este sitio web se esfuerza por ofrecer el más
                    alto nivel de seguridad para lo cual se utiliza tecnología de avanzada. Adherimos a los requerimientos de la Ley
                    Nacional de Protección de Datos Personales, N° 25.326 y sus normas complementarias.</p>

                <p class="uk-text-lead">Su privacidad</p>
                <p> comoencasa respeta su privacidad. Toda la información que usted nos proporcione se tratará con sumo cuidado y con la
                mayor seguridad posible, y sólo se utilizará de acuerdo con los límites establecidos en este documento.
                </p>
                <p>
                Cómo se reúne la información comoencasa solamente reúne sus datos personales cuando usted los proporciona en forma
                directa y con su consentimiento expreso e informado.
                </p>
                <p class="uk-text-lead">Cómo comoencasa utiliza su información</p>
                <p>comoencasa utiliza la información que usted proporciona para: expandir ofertas de comercialización y para publicar
                productos y servicios que podrían ser de su interés, para personalizar y mejorar nuestros servicios y para fines
                estadísticos de comoencasa.
                </p>
                <p class="uk-text-lead">¿Quién tiene acceso a la información?</p>
                <p>comoencasa siempre está comprometido a presentar nuevas soluciones que mejoren el valor de sus productos y servicios.
                La información no identificable y estadística también podrá ser compartida con socios comerciales.
                </p>
                <p class="uk-text-lead">Seguridad y Protección de sus Datos Personales</p>
                <p>La seguridad de los datos personales es una prioridad para comoencasa. Este sitio web se esfuerza por ofrecer el más
                alto nivel de seguridad para lo cual se utiliza tecnología de avanzada. Adherimos a los requerimientos de la Ley
                Nacional de Protección de Datos Personales, N° 25.326 y sus normas complementarias.
                </p>
            </div>
        </article>

        
        <!-- Naranja decoración -->
        <img src="/img/utencillos.jpg" alt="" class="utencillos"> 
        <img src="/img/tools.jpg" alt="" class="utencillos1"> 
        <!-- ENVIOS BODY -->

        <!-- PARTIAL JAVASCRIPT -->
        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
        <!-- /PARTIAL JAVASCRIPT -->

        <!-- FOOTER -->
        <%- include('./partials/footer')%>
        <!-- /FOOTER -->
    </div>
</body>

</html>