<!-- POLITICA ENVÍOS -->

<!DOCTYPE html>
<html lang="en">

<!-- PARTIAL HEAD -->
<%- include('./partials/head', {title: 'ENVIOS', css: 'footerPolitics.css'})%>

<!-- END OF PARTIAL HEAD -->

<body>
    <div class="body-container">
        <!-- PARTIAL HEADER -->
        <%- include('./partials/header')%>
        <!-- /PARTIAL HEADER -->



        <!-- POLITICA ENVIOS BODY -->

        <article class="uk-article">
            <hr>
            <h1 style="text-align: center;" class="uk-heading-bullet">Politica de envios</h1>
            <hr>
            <div class="contenedorEnvios">
                <p class="uk-article-meta">COVID-19
                    Aviso importante: En función de la situación de público conocimiento, estamos haciendo envíos regularmente y
                    pueden
                    verse un poco demorados.</p>

                
            <p class="uk-text-lead">¿Cuánto demora la entrega de mi pedido?</p>
            <p>Argentina: Los envíos que tengan como destino CABA y Provincia de Buenos Aires serán entregados entre 1 y 7
                días hábiles
                después de confirmado el empaquetado del pedido.
                En caso de los envíos al interior del país, los mismos serán entregados entre 5 a 9 días hábiles una vez
                confirmado el
                empaquetado de la compra.
                En caso de Retiros en nuestro Local de Palermo (Malabia 1686, CABA), el pedido estará listo a las 48 hs
                hábiles
                siguientes una vez confirmado el empaquetado de la compra. En tanto, el pedido estará disponible para ser
                retirado por
                nuestro Local de Palermo los próximos 25 días hábiles siguientes, desde el momento de recepción por parte
                del Local. Una
                vez transcurrido este período, retornará a las Oficinas.
                Resto del mundo: Aquellos envíos con destino fuera de Argentina serán entregados entre 7 y 15 días
                hábiles/laborables
                una vez confirmado el empaquetado del pedido.
            </p>

            <p class="uk-text-lead">¿Cuál es el medio de entrega?</p>
            <p>Las entregas a domicilio se realizan a través del servicio privado OCA, Mercado Envíos (Correo
                Argentino/Andreani/WebPack/Urbano/Ocasa) ó Glovo. Podés conocer tu Código Postal en el siguiente link
            </p>
            <p>
                Envíos a domicilio: Esta dirección de entrega será la que indiques en el proceso de compra. Considerá que
                deberás haber
                cargado correctamente estos datos en tu perfil de nuestra Tienda Online. La dirección de entrega no tiene
                que ser tu
                domicilio obligatoriamente, pero sí deberás tener acceso a éste para obtener tu pedido. El costo de envío
                estará
                conforme a los precios vigentes del servicio privado OCA / Mercado Envíos según distancia, considerando el
                origen en
                CABA (Buenos Aires). El costo de envío puede estar sujeto a promociones vigentes (**)
                Bull-Express: Disponible solo para algunos barrios en la Ciudad Autónoma de Buenos Aires (Almagro, Belgrano,
                Caballito,
                Coghlan, Colegiales, Chacarita, Palermo, Monserrat, Nuñez, Parque Chas, Puerto Madero, Recoleta, Retiro,
                Saavedra, San
                Telmo, Villa Crespo, Villa Ortúzar y Villa Urquiza). Este servicio tiene un costo fijo de $200.-
                Retiro en Local BULLBENNY Palermo: El servicio no tiene costo. Malabia 1686, de Lunes a Sábados de 12 a 20
                hs y Domingos
                de 14 a 20 hs(*)
            </p>
            <p>
                (*) Los horarios pueden modicarse según fechas de feriados nacionales y/ó requerimientos de la marca.
            </p>
            <p class="uk-text-lead">
                ¿Cuál es el horario de entrega?
            </p>
            <p>
                El servicio de OCA y de Mercado Envíos a domicilio se realiza entre las 8 y 18 hs de Lunes a Sábados. No se
                podrá
                acordar un horario específico de entrega. No se efectúan entregas los feriados nacionales ó en días de paro
                gremial.
                En tanto, el servicio de Entrega Express, deberá ser acordado con nosotros. Una vez coordinado el envío, la
                entrega será
                efectiva en un plazo de tres horas como máximo.
            </p>
            </p class="uk-text-lead">¿Mi pedido puede ser recibido por otra persona?</p>
            <p>
                ¡Por supuesto! Siempre y cuando la misma acredite su identidad al momento de la recepción con DNI. Además
                deberá contar
                consigo el Documento de Identidad del responsable de la compra ó una fotocopia legible del mismo.
            </p>
            <p class="uk-text-lead">¿Qué sucede si no estoy en mi casa cuando traen mi pedido?</p>
            <p>Todos los pedidos de OCA / Mercado Envíos con destino final un domicilio particular se rigen de la siguiente
                manera: se
                realiza una primera visita y en caso de no estar presente el titular de la compra o una persona autorizada,
                se dejará
                aviso de visita para realizar una nueva visita el próximo día.
                En caso de que nadie se encuentre al momento de la segunda visita, el pedido será enviado a la sucursal de
                OCA / Correo
                Argentino más cercana. Este pedido permanecerá allí durante los próximos 4 días para que pueda ser retirado
                personalmente por el destinatario.
            </p>
            <p>
                Vencido este período, el pedido volverá a nuestras oficinas. En esta instancia, se deberá concretar un nuevo
                envío que
                deberá ser abonado por el cliente.
            </p>

            <p class="uk-text-lead">¿Cómo puedo consultar el seguimiento de mi pedido?</p>
            <p>
                Cuando el pedido sea empaquetado, recibirás por e-mail de nuestro encargado de nuestro e-shop, el código de
                tracking ó
                seguimiento proporcionado por OCA / Correo Argentino que te permitirá conocer la posición exacta del
                paquete.
                Para conocer la información de localización de su pedido aquí (para OCA) y aquí (para Mercado Envíos)
            </p>

            <p class="uk-text-lead">Quiero cancelar mi pedido, ¿qué debo hacer?</p>
            <p>Los pedidos pueden ser cancelados hasta el momento que son empaquetados. Generalmente las primeras 24 horas
                una vez
                confirmada la compra. Deberás enviar un correo a shop@bullbenny.com.ar con el Número de Orden, tus datos e
                ítem/s de la
                compra.</p>
            <p>Tené en cuenta que una vez procesado el pago, el proceso de devolución de dinero puede demorar algunos días
                (dependiendo
                el método de pago).</p>
            <p>La cancelación de un pedido ya despachado se considera una devolución (ver términos de "Cambios de
                Productos”)</p>

            <p class="uk-text-lead">Si mi pedido no llega en el tiempo estipulado, ¿cómo reclamo?</p>
                <p> Bastará con que nos escribas a info@comoencasa.com.ar </p>
            Indicando el Número de Orden, tus datos e ítem/s de la compra. No todo es tan perfecto en este mundo y los
            paquetes
            pueden perderse. En estos casos, la paciencia y la comprensión pueden ser recompensadas.</p>

            <p class="uk-text-lead">¿Qué pasa con toda la información personal que cargué en el e-shop de comoEnCasa?</p>
            <p>Como en Casa se compromete a conservar la política de confidencialidad con el objetivo de proteger la
                privacidad de la
                información personal obtenida a través de su página, de acuerdo a la Ley Argentina de Habeas Data (Ley.
                25.326). Esto
                significa que tus datos no serán compartidos, vendidos o alquilados a ninguna empresa, y que podrás
                consultarlos cuando
                quieras.</p>
            <p>Valoramos muchísimo la confianza que depositás en nosotros.</p>

            <p class="uk-text-lead">¿Qué hago si encuentro problemas técnicos en su e-shop?</p>
            <p>Por favor, escribinos a info@comoencasa.com.ar</p>

            <p>¡Quiero hablar con una persona real!</p>
            <p>Si bien casi siempre te responderá una persona real, todos y cada uno de los correos son supervisados por
                nosotros. No
                dudes en escribirnos a info@comoencasa.com.ar</p>


        <!-- Naranja decoración -->
       
        <img src="/img/cookingtools.jpg" alt="" class="cookingtools"> 
        <img src="/img/teacups.jpg" alt="" class="teacups"> 
        <!-- ENVIOS BODY -->

        <!-- PARTIAL JAVASCRIPT -->
        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
        <!-- /PARTIAL JAVASCRIPT -->

        <!-- FOOTER -->
        <%- include('./partials/footer')%>
        <!-- /FOOTER -->
    </div>
</body>

</html>